@model IEnumerable<SkodaShop.Data.Models.Part>
@{
    ViewBag.Title = "Skoda Shop";
}

<div class="col-md-6">
    @foreach (var part in Model)
    {
        <ul class="list-group">
            <li class="list-group-item">@part.Name</li>
            <li class="list-group-item">@part.Price</li>
        </ul>        
    }
</div>