@model IEnumerable<SkodaShop.Data.Models.Part>
@{
    ViewBag.Title = "Skoda Shop";
}

<div class="col-md-6" style="border:1px solid black">
    @foreach (var part in Model)
    {
        <p>@part.Name</p>
        <p>@part.Price</p>
    }
</div>